.html{
  margin:0px;
}

.header{
  background-color: hsl(234, 80%, 31%);
width: 100%;
 
}
.head{
  margin-right: 8px;
  margin-left: -34px;
}
.row {
  width: 100%;
  display: flex;
  margin-right: 8px;
  margin-left: -34px;
  
}  
  
.service{
  background-color: #008dc4;
width: 100%;


}
.content{
width: 100%;
margin-block-end: 0%;
padding: auto;


}
.csc{
  background-color: lightblue;
  width: 25%;

border: 3px solid rgb(255, 255, 255);
margin-left: auto;
padding: auto;
float:left;

}
.bank{
  background-color: lightblue;
  width: 25%;

  padding: auto;
border: 3px solid rgb(255, 255, 255);

float:left;
}
.computer {
  background-color:lightblue ;
  width: 25%;
  border: 3px solid rgb(255, 255, 255);
  padding: auto;
float: left;
}
.dtp{
  background-color: lightblue;
  width: 25%;
  border:3px solid rgb(255, 255, 255);
padding: auto;
float: left;
}
.third{

  background-color: rgb(7 35 76 / 82%);
width: 100%;
  padding: auto%;

}

.fourth{
  background-image: url("images/about.jpg");
  background-position: center;
  
  background-repeat: no-repeat;
  background-size: cover;
  
  flex-grow: 1;
  
  }
  