.html{
  margin: 0;
}

.header{
  background-color: hsl(234, 80%, 31%);
width: 100%;
position: fixed;
z-index: 1; 
}
.head{
  margin-right: 8px;
  margin-left: -34px;
}
.row {
  width: 100%;
  display: flex;
  margin-right: 8px;
  margin-left: -34px;
  
}  
  
.service{
  background-color: #008dc4;
width: 100%;

}
.content{
width: auto;
padding: auto;

}
.csc{
  background-color: lightblue;
width: 25%;

border: 5px solid rgb(255, 255, 255);

padding: auto;
float:left;
}
.bank{
  background-color: lightblue;
  width: 25%;
  padding: auto;
border: 5px solid rgb(255, 255, 255);

float:left;
}
.computer {
  background-color:lightblue ;
  width: 25%;
  border: 5px solid rgb(255, 255, 255);
  padding: auto;
float: left;
}
.dtp{
  background-color: lightblue;
  width: 20%;
  border:5px solid rgb(255, 255, 255);
padding: auto;
float: left;
}
.third{

  background-color: rgb(7 35 76 / 82%);

  padding: auto%;

}
.fourth{
background: rgb(30 16 58);
width: 100%;
}
